*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
}

.player {
  width: 370px;
  margin: 0 auto;
}

.timeline {
  display: flex;
  margin: 5px 0;
}

.timeline-chunk {
  background-color: #717171;
  border-radius: 5px;

  height: 3px;
  width: 100%;
}

.timeline-chunk + .timeline-chunk {
  margin-left: 4px;
}

.timeline-chunk-active ~ .timeline-chunk > .timeline-chunk-inner{
 width: 0;
}


.timeline-chunk-inner {
  height: inherit;
  background-color: #fff;
  border-radius: inherit;
}

.player-content {
  position: relative;
}

.player-content img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.player-chunk {
  display: none;
}

.player-chunk-active {
  display: block;
}

.player-chunk-switcher {
  position: absolute;
  width: 20%;
  height: 100%;

  /* background-color: #fff; */
}

.player-chunk-prev {
  left: 0;
  top: 0;
}

.player-chunk-next {
  right: 0;
  top: 0;
}

